<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A very legit page</title>
</head>
<body>
<h1>Totally not gonna steal your password</h1>
<p>Much secure. Very not injected. Wow.</p>
<div>
    <form>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>